h2{
    color: #f33232;
    font-weight: bold;
}

li{
    color: blue;
}
p::before{
    content: '->';
   
}
.attention::before {
    content: "⚠ Attention ! : ";
    font-size: 1.2em;
    color: red;
}

body {
    counter-reset: exemple;
}
h2::before {
    counter-increment: exemple;
    content: "exemple" counter(exemple) ":";
}